# "/lib/systemd/system/kiosk.service"
[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/elien/.Xauthority
Type=simple
ExecStart=/bin/bash /home/elien/kiosk.sh
Restart=on-abort
User=elien
Group=elien

[Install]
WantedBy=graphical.target